<head>
  <title>trampo.find</title>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <h1>trampo.find</h1>
  </header>
  <main>
    <div class="jobs-count">
      <i class="fas fa-briefcase"></i> <%= jobs.length %> vagas encontradas
    </div>
    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Conhecimentos</th>
          <th>Remuneração</th>
          <th>Benefícios</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% jobs.forEach(j => { %>
        <tr>
          <td><strong><%= j.titulo %></strong></td>
          <td class="tag-container">
            <% j.conhecimentos.forEach(tech => { %>
            <span class="tag"><%= tech.trim() %></span>
            <% }); %>
          </td>
          <td>R$ <%= j.remuneracao.toLocaleString('pt-BR') %></td>
          <td><%= j.beneficios.join(', ') || '---' %></td>
          <td>
            <span
              class="status status-<%= j.status === 'ativo' ? 'active' : 'inactive' %>"
            >
              <i
                class="fas fa-<%= j.status === 'ativo' ? 'check-circle' : 'times-circle' %>"
              ></i>
              <%= j.status[0].toUpperCase() + j.status.slice(1, j.status.length)
              %>
            </span>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </main>
</body>
